body {
  background-color: white;
}

table {
  margin: 0 auto;
}

/* For entire button links table */
#t01 {
  margin: 0 auto;
  padding: 30px 90px; 
  border-spacing: 0px;
  background-image: linear-gradient(lightgray, red);
}

/*Contact Information table */
#t02 {
  margin: 0 auto;
  width: 62.45%;
  background-color: gray;
  border-spacing: 0px;
}

/* Table cells in Button links table */
#td01 {
  border: 0px solid black;
  vertical-align: middle;
  border-collapse: collapse;
  padding: 0px;
}

#td02 {
  vertical-align: top;
  padding: 0px;
}

h1 {
  font-size: 20px;
  font-family: Arial;
  text-align: center;
  background-image: linear-gradient(white, lightgray);
  color: black;
  padding: 5px;
  margin: 0px;
}

h2 {
  font-size: 15px;
  font-family: Arial;
  margin: 7px;
}

#p01 {
  font-size: 13px;
  font-family: Arial;
  margin: 7px;
}

a:link#a01, a:visited#a01 {
  font-family: Arial;
  font-weight: bold;
  color: white;
  text-decoration: none;
  background-image: linear-gradient(lightgray, red);
  padding: 30px 30px;
  border-right: 1px solid black;
}

/* Removes border-right line from Contact Us button */
a:link#a02, a:visited#a02 {
  font-family: Arial;
  font-weight: bold;
  color: white;
  text-decoration: none;
  background-image: linear-gradient(lightgray, red);
  padding: 30px 30px;
  border-right: 0px solid black;
}

a:hover#a01, a:active#a01 {
  background-image: linear-gradient(white, lightgray);
  color: red;
}

/* Contact Us button now highlights when hovering over */
a:hover#a02, a:active#a02 {
  background-image: linear-gradient(white, lightgray);
  color: red;
}